<div class="page-header">
	<h1>投票列表</h1>
</div>
<div class="row">
	<div class="col-xs-5">
		<a href="#/new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> 新建投票</a>
	</div>
	<div class="col-xs-7">
		<input type="text" class="form-control" ng-model="query" placeholder="搜索投票">
	</div>
</div>
<div class="row">
	<div class="col-xs-12"><hr></div>
</div>
<div class="row" ng-switch on="polls.length">
	<ul ng-switch-when="0">
		<li><em>目前没有投票。 想要 <a href="#/new">新建投票</a>吗?</li>
	</ul>
	<ul ng-switch-default>
		<li ng-repeat="poll in polls | filter:query">
			<span>{{poll.question}}</span> <a href="#/poll/{{poll._id}}">投票</a>           <a href="#/pollStatus/{{poll._id}}" ng-click="$event.stopPropagation();">查看投票状态</a>
		</li>
	</ul>
</div>
<p>&nbsp;</p>